.easelDiv {
  color: black;
  cursor: pointer;
  background-color: rgb(155, 182, 255);
}

.char {
  min-width: 15px;
  min-height: 15px;
}

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20px;
  width: 80%;
}

.sizes,
.charsBox {
  display: flex;
  flex-direction: row;
}

.sizes p,
.charsBox p {
  margin: 0 2%;
}

.toolBar p {
  cursor: pointer;
}
.main span {
  font-family: monospace;
  white-space: "pre";
}
