.easelDiv {
 
  color: black;
  cursor: pointer;
  background-color: rgb(155, 182, 255);
}

.char {
  min-width: 15px;
  min-height: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.toolBar{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 80%;
}

.sizes, .charsBox {
  display: flex;
  flex-direction: row;
  
}

.sizes p {
  margin: 0 5%;
  border: 1px dotted black;
}