.easelDiv {
 
  color: black;
  
  background-color: rgb(155, 182, 255);
}

.char {
  min-width: 15px;
  min-height: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}